[Desktop Entry]
Type=Application
Name=Stellar Settings
Comment=Configuration utility for the Stellar desktop environment
Exec=stellar-settings --autostart
NoDisplay=true
X-GNOME-Autostart-enabled=true
